.container {
    text-align: center;
    margin: 80px 50px;
    height: 500px;
    
}
.header {
    background:linear-gradient(rgb(29, 29, 168), rgb(0, 0, 0));
    min-height: 30px;
    width: 100%;
    
}


.menu {
    position: relative;
    border: 2px solid rgb(59, 59, 99);
    padding: 0px auto;
    
}
.menu ul li {
    list-style-type: none;
    text-align: right;
    padding: 0px 20px;
    
    
}
.menu ul li a {
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    color: rgba(63, 248, 239, 0.884);
    background: linear-gradient(blue, black); 
    transition:0.2s ease-in-out;
        
}
.content{
    min-height: 500px;
    padding: 0px auto;
    text-align: center;
    background: url(image/space2.jpg);
    background-size: cover;
}
.content img {
    height: 500px;
    width: 430px;
    float: right;
}
.jumbotron {
    width: 100%;
    text-align: center; 
    padding: 140px 0px;
    font-family: 'Beth Ellen', cursive;
    font-size: 30px;
}
p {
    color: #fff;
}
b {
    color: rgb(255, 137, 1);
    font-family: 'Bangers', cursive;
    font-size: 60px;
    
}
.iki {
    color: rgb(42, 221, 51);
    font-family: 'Bad Script', cursive;
    
}
.footer {
    text-align: center;
    background: linear-gradient(black, blue);
    
}
